<section id="footer">
    <img src="/media/border2.png" alt="" id="footer-border">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/media/logo.png" alt="" id="footer-logo" class="d-flex mx-auto">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, neque illo. Quidem, asperiores optio consequatur labore ipsam suscipit iure facilis dolore quia quae voluptatum similique velit voluptatem harum neque nemo.</p>
        </div>
        <div class="col-md-4">
          <h2>Indigo PVT. LTD.</h2>
          <table>
            <tr>
              <td><i class="bi bi-buildings"></i></td>
              <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente error voluptatibus repudiandae ex sit, voluptatum, sunt labore qui a quia libero minus maiores commodi sint totam magni blanditiis nemo eum.</td>
            </tr>
            <tr>
              <td><i class="bi bi-telephone"></i></td>
              <td>+91-1525252525</td>
            </tr>
            <tr>
              <td><i class="bi bi-phone"></i></td>
              <td>8238090100</td>
            </tr>
            <tr>
              <td><i class="bi bi-envelope"></i></td>
              <td>ravidagdi@gmail.com</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h2>Query Form</h2>
          <form action="" method="post">
            <input type="email" name="email" id="" class="form-control" placeholder="Enter Email">
            <textarea name="query" id="" class="form-control mt-2 mb-2" placeholder="Enter Query"></textarea>
            <button type="submit" class="btn btn-success form-control">Post Query</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row text-center">
        <div class="col-md-12">
          <a href="#"><img src="media/instagram-icon.png" alt=""></a>
          <a href="#"><img src="media/linkedin-icon.png" alt=""></a>
          <a href="#"><img src="media/twitter-icon.png" alt=""></a>
          <a href="#"><img src="media/snapchat-icon.png" class="d-flex mx-auto" alt=""></a>
        </div>
      </div>
    </div>
  </section>