<div class="col-md-3">
    <a href="/admin/bannermanagement"><button class="btn btn-success mt-3 form-control">Banner Management</button></a>
    <a href="/admin/servicmanagement"><button class="btn btn-success mt-3 form-control">Service Management</button></a>
    <a href="/admin/testimanagement"><button class="btn btn-success mt-3 form-control">Testinominals Management</button></a>
    <a href="/admin/query/message"><button class="btn btn-success mt-3 form-control">Query Management</button></a>
 </div>