<%-include("../partials/head.ejs")%>
<body>
    <div class="container">
        <div class="row ">
            <div class="col-4"></div>
                <div class="col-4 message-container">
                    <h4>Thanks!!. Your Query has been send Submited</h4>
                    <p>Admin will Reply as soon as possible</p>
                    <a href="/">Click to resume webiste...</a>
                </div>
                <div class="col-4"></div>     
        </div>
    </div> 
</body>
</html>